// Font and Text Config
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.heatText {
  color: var(--brand-green);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.title {
  color: var(--gray-handline);
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.4rem;
}
.subtitle,
.paragraph {
  color: var(--gray-paragraph);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.paragraph {
  font-size: 1.6rem;
}

// Normalize/Reset Style
@import url("https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@function bg-heigth($bgHeigth, $value) {
  @return calc($bgHeigth + $value);
}

:root {
  --brand-green: #00856f;
  --brand-green-ligth: #dce9e2;
  --brand-green-ligth-02: #f7f9f9;
  --brand-beige: #fffaf1;
  --brand-background: hsla(170, 100%, 26%, 15%);
  --gray-handline: #363636;
  --gray-paragraph: #495057;

  font-size: 62.5%; /** 1rem = 10px **/
  --nav-heigth: 7.2rem;
  --global-radius: 0.6rem;
  --global-radius-btn: 6rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.warapper {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

// Container Style
.container {
  display: grid;
  .header {
    top: 0;
    left: 50%;
    width: 100%;
    padding: 2.4rem 1.6rem;
    position: fixed;
    transform: translateX(-50%);
    .navgation {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .scroll {
    width: 100vw;
    padding-inline: 2.4rem;
    background-color: var(--brand-green);
    .navgation {
      svg:nth-child(1) path {
        fill: #fafafa;
      }
      svg:nth-child(2) path {
        stroke: #fafafa;
      }
    }
  }
  .content {
    margin-top: calc(4.1rem + var(--nav-heigth));
    .inicio {
      width: 100%;
      &__header {
        width: 100%;
        .title {
          margin: 1.6rem 0 2.4rem 0;
        }
      }
      &__footer {
        .womanImage {
          margin-inline: auto;
          object-position: 0rem 2rem;
        }
        .cardStats {
          gap: 6rem;
          width: 100%;
          display: flex;
          align-items: center;
          padding-block: 4rem;
          flex-direction: column;
          justify-content: center;
          .stats {
            .title {
              font-size: 4.8rem;
              line-height: 6.2rem;
            }
            .subtitle {
              color: #00856f;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 2.4rem;
            }
          }
        }
      }
      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: bg-heigth(108rem, var(--nav-heigth));
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        background-color: var(--brand-green-ligth);
      }
    }
    .servicos {
      margin-block: 10rem;
      &__header {
        text-align: center;
        .heatText {
          margin-block: 2.4rem;
        }
        .title {
          font-size: 3rem;
          margin-block: 2.4rem;
        }
      }
      &__footer {
        width: 100%;
        text-align: left;
        .cardServico {
          margin-block: 2.4rem;
          .cardHeader {
            margin-block: 2.4rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            .check-icon {
              width: 2.4rem;
              height: 2.4rem;
              margin-inline: 2.4rem;
            }
          }
          .cardFooter {
            .title {
              margin-inline: 2.4rem;
              padding-bottom: 1.6rem;
            }
            .paragraph {
              margin-inline: 2.4rem;
              padding-bottom: 2.4rem;
            }
          }
        }
      }
      &::before {
        top: 108rem;
        left: 0;
        width: 100%;
        height: bg-heigth(203rem, var(--nav-heigth));
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        background-color: var(--brand-green-ligth-02);
      }
    }
    .sobre {
      // gap: 6rem;
      display: flex;
      text-align: left;
      padding-block: 10rem;
      flex-direction: column;
      .title {
        margin: 1.6rem 0 2.4rem 0;
      }
      .paragraph {
        margin: 1.6rem 0 6rem 0;
      }

      &::before {
        top: 270rem;
        left: 0;
        width: 100%;
        height: bg-heigth(96rem, var(--nav-heigth));
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        background-color: var(--brand-beige);
        // background-color: #363636;
      }
    }
    .contato {
      display: flex;
      text-align: left;
      align-items: flex-start;
      flex-direction: column;
      justify-content: left;
      .title {
        font-size: 3rem;
        line-height: 3.9rem;
      }
      :nth-child(2) {
        margin-block: 1.6rem;
      }
      .btn {
        margin: 3.2rem 0 6rem 0;
        &__contato {
        }
      }
      .logradouro,
      .email {
        gap: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__image {
        width: 100%;
      }
      margin-block: 10rem;
    }
  }
  .footer {
    text-align: left;
    padding-block: 6rem;
    background-color: var(--brand-green);
    svg:nth-child(1) path {
      fill: #fafafa;
    }
    .copyrigth {
      margin-block: 2.4rem;
      .paragraph {
        margin-block: 1.2rem;
        color: var(--brand-green-ligth);
      }
    }
    .socialMedia {
      gap: 3.2rem;
      display: flex;
      margin-top: 3.2rem;
      flex-direction: row;
    }
  }
}

//
// Modificações Globais
.card {
  border: 1px solid var(--brand-green-ligth);
  border-radius: var(--global-radius);
  background-color: var(--brand-beige);
}

.btn {
  gap: 1.6rem;
  margin: 3.2rem auto 6rem auto;
  padding: 1.6rem 3.2rem;

  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: var(--global-radius-btn);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover:active {
    border: 0.1rem solid #00856f83;
    box-shadow: 0px 0px 10px #0000008e;
  }

  &__contato {
    background-color: var(--brand-green);
    color: #fafafa;
    .whatsapp-ico {
      width: auto;
      height: auto;
    }
  }
}
